.promo-create-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.promo-create-photo-container {
    width: calc(100% - 32px);
    height: 50vw;
    background: red;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.promo-create-add-icon {
    font-size: 40px;
    color: white;
    z-index: 10;
}

.promo-create-add-label {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    z-index: 10;
}

.promo-create-separator {
    width: 100%;
    height: 20px;
}

.promo-create-input-container {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.promo-create-desc-container {
    width: calc(100% - 40px);
    height: 50vw;
    background: #C5C5C544;
    margin-top: 20px;
    padding: 10px 20px;
}

.promo-create-desc-label {
    color: black;
    font-size: 14px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.promo-create-desc {
    background: none;
    width: 100%;
    border: none;
    height: calc(100% - 30px);
    margin-top: 10px;
}

.promo-create-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}