.promo-detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.promo-detail-container-2 {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.promo-detail-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.promo-detail-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.promo-detail-content-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.promo-detail-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: 32ch;
    margin: 0;
}

.promo-detail-expired {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: gray;
    margin: 0;
}

.promo-detail-message {
    text-align: left;
    width: 100%;
    margin: 0;
    color: black;
    margin-top: 15px;
    font-size: 14px;
}
