.success-layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-layout-title {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.success-layout-message {
    width: 40ch;
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

.success-layout-icon {
    width: 120px;
    height: 120px;
    background: none;
    font-weight: bold;
    color: #009900;
}

.cancel-layout-icon {
    width: 120px;
    height: 120px;
    background: none;
    font-weight: bold;
    color: gray;
}