.navbar-search-menu-container {
    display: flex;
    background: 'white';
    height: 130px;
    width: 100%;
    padding-left: 20px; 
    padding-left: 20px; 
    display: flex;
    position: relative;
    flex-direction: row;
}

.navbar-search-menu-container-2 {
    background: 'white';
    height: auto;
    align-items: center;
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
}

.navbar-search-menu-container-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 60px;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    left: 0;
}

.navbar-search-menu-input-container {
    background: #d9d9d9;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-search-menu-icon-back {
    background: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.navbar-search-menu-icon {
    color: gray;
    font-size: 18px;
    background: none;
    margin: 0;
}

.navbar-search-menu-input {
    background: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}