.navbarSearchContainer {
    background: 'white';
    height: 50px;
    min-height: 50px; 
    padding-left: 20px; 
    padding-left: 20px;
    align-items: center; 
    display: flex;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 4px 0.5px #00000022;
}

.navbarSearchTabContainer {
    background: 'white';
    height: 50px;
    min-height: 50px; 
    padding-left: 20px; 
    padding-left: 20px;
    align-items: center; 
    display: flex;
    position: relative;
    text-align: center;
}

.navbarSearchTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 60px;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
}

.navbarSearchTitle {
    color: gray; 
    font-size: 20px; 
    left: 0;
    margin: 0;
}

.navbarSearchIcon {
    color: gray; 
    cursor: pointer;
    background: none;
    margin: 0;
}

.navbarSearchIconScan {
    color: white;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background: none;
}

.navbarSearchSubTitle {
    font-style: italic;
    font-size: 12px; 
    color: gray;
    margin: 0;
}

.navbarSearchInputContainer {
    background: #d9d9d9;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navbarSearchInput {
    background: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.navbarSearchIcon2 {
    color: gray;
    font-size: 18px;
    background: none;
    margin: 0;
}

