.gg-date-picker-container {
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 4px;
}

.gg-date-picker-label {
    margin: 0;
    text-align: left;
    font-size: 12px;
}

.anticon svg {
    background: transparent;
    color: white;
}

.ant-picker-time-panel-cell {
    background: white;
}

.ant-picker-ranges {
    background: white !important;
}

.ant-picker-now {
    background: none;
}

.ant-picker-ok {
    background: none;
}

.ant-picker-ok span {
    background: none !important;
}