.buy-confirmation-modal-label {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-size: 16px;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.ant-modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-modal {
    top: 0;
}

.buy-confirmation-modal-container-2 {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 5px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-confirmation-modal-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.buy-confirmation-modal-icon {
    color: white;
    margin-right: 5px;
}

.buy-confirmation-modal-type {
    background: red;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buy-confirmation-modal-type-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.buy-confirmation-modal-package {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.buy-confirmation-modal-number {
    font-weight: bold;
    font-size: 16px;
}

.ant-modal-footer {
    margin-top: 0 !important;
}