.loginContainerStyling {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.loginBannerStyling {
    width: 100%;
    height: 300px;
    background: url(../../assets/logo512.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loginRemainingSpaceStyling {
    width: calc(100% - 40px);
    background: none; 
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.loginCopyRightStyling {
    color: #D4AF37;
    font-size: 14px;
    text-align: center;
}

.loginContentContainerStyling {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
    position: absolute;
    align-items: center;
    background: none;
}

.loginLabelStyling {
    color: gray;
    font-size: 14px;
    width: 35ch;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.loginRegisterLabelStyling {
    color: gray;
    font-size: 14px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.loginRegisterLabelStyling::before {
    content: "";
    width: 100%;
    height: 1.5px;
    background: gray;
    margin-right: 10px;
}

.loginRegisterLabelStyling::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background: gray;
    margin-left: 10px;
}

.loginForgotContainerStyling {
    width: calc(100% - 40px);
    margin-left: 20px;
    background: none;
}

.loginForgotTextStyling {
    color: #D4AF37;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: max-content;
    font-weight: bold;
}

.loginRegisterTextStyling {
    color: #D4AF37;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.separatorStyling {
    width: 100%;
    height: 20px;
}

.loginRegisterLabelOperate {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    margin-top: 30px;
}