.inputPrimaryContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputPrimaryContainer2 {
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 4px;
}

.inputPrimaryLocationContainer2 {
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    border-radius: 4px;
}

.inputPrimary {
    color: gray;
    font-size: 14px;
    width: 100%;
    background: none;
    border: none;
}

.inputPrimary:focus {
    border: none;
    outline: none;
}

.inputPlaceholder {
    pointer-events: none;
    width: calc(100% - 32px);
    position:absolute;
    left: 16px;
    top: 16px;
    color: black;
    background: none;
    font-size: 14px;
    transition: 0.2s;
    text-align: left;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
}

.inputPrimary:focus + .inputPlaceholder, .inputPrimary:not(:placeholder-shown) + .inputPlaceholder {
    opacity:1;
    transform: translateY(-50%);
    font-size: 12px;
    left: 18px;
}

.inputPrimary:focus, .inputPrimary:not(:placeholder-shown) {
    transform: translateY(30%);
}

.inputPrimary:focus + .inputPlaceholder, .inputPrimary:not(:-ms-input-placeholder) + .inputPlaceholder {
    opacity:1;
    transform: translateY(-50%);
    font-size: 12px;
    left: 18px;
}

.inputPrimaryPasswordIcon {
    position: absolute;
    right: 40px;
    bottom: 15px;
}

.inputPlaceholderAutoComplete {
    pointer-events: none;
    width: calc(100% - 32px);
    position:absolute;
    left: 16px;
    top: 16px;
    color: black;
    background: none;
    font-size: 14px;
    text-align: left;
    transform: translateY(-50%);
    margin: 0;
}

.inputPrimaryAutoComplete {
    color: gray;
    font-size: 14px;
    width: 100%;
    margin: 0;
    transform: translateY(10px);
    margin-left: -5px;
    background: none;
    border: none;
}

.inputPrimaryAutoComplete:focus {
    border: none;
    outline: none;
}

  .no-suggestions {
    color: white;
    background: none;
    margin-top: 20px;
  }
  .no-suggestions em {
      background: black;
      border-radius: 10px;
      padding: 10px;
  }
  .suggestions {
    background: white;
    border-radius: 10px;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    overflow-y: auto;
    width: 100%;
  }
  .suggestions li {
    padding: 0.5rem;
    background: none;
    text-align: left;
  }
  .suggestion-active,
  .suggestions li:hover {
    color: black;
    cursor: pointer;
    font-weight: 700;
    text-align: left;
    background: none;
  }
  .suggestions li:not(:last-of-type) {
    text-align: left;
  }

  .inputPrimaryContainerForProfile2 {
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 20px;
    margin-left: 0px;
    position: relative;
    border-radius: 4px;
}