.notification-navbar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: 'white';
    box-shadow: 0px 0px 4px 0.5px #00000022;
}

.notification-navbar-container-2 {
    background: 'white';
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding-left: 20px; 
    padding-left: 20px;
    align-items: center; 
    display: flex;
    position: relative;
    text-align: center;
}

.notification-navbar-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
}

.notification-navbar-title {
    color: gray; 
    font-size: 20px; 
    left: 0;
    margin: 0;
}

.notification-navbar-icon {
    color: gray; 
    cursor: pointer;
    background: none;
}

.notification-navbar-icon-scan {
    color: white;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background: none;
}

.notification-navbar-sub-title {
    font-style: italic;
    font-size: 12px; 
    color: gray;
    margin: 0;
}

.notification-navbar-menu-container {
    padding-top: 20px;
    padding-bottom: 10px;
}