.userTypeContainer {
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
}

.userTypeContainer2 {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    background: #242424;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.userTypeLabelContainer {
    display: flex;
    background: none;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.userTypeLabel {
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    text-align: left;
    background: none;
}

.userTypeIcon {
    font-size: 16px;
    color: white;
    background: none;
}

.userTypeInputContainer {
    margin-top: 16px;
    background: none;
}