.bottomMenuContainer {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.bottomMenuContainer2 {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px #bfafb2;
}

.bottomMenuItemContainer {
    height: 50px;
    width: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
    cursor: pointer;
}

.bottomMenuItemSelectedContainer {
    height: 50px;
    width: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    cursor: pointer;
}

.bottomMenuSeparator {
    height: 100%;
    margin-left: 20px;
}

.bottomMenuIcon {
    height: 30px;
    width: 30px;
    background: none;
    color: black;
}

.bottomMenuIconSelected {
    height: 30px;
    width: 30px;
    color: white;
    background: none;
}

.bottomMenuTitle {
    background: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    width: 8ch;
    max-width: 8ch;
    height: fit-content;
    white-space: nowrap;
    text-align: center;
    margin: 0;
}

.bottomMenuSelectedTitle {
    background: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: fit-content;
    width: 8ch;
    max-width: 8ch;
    /* white-space: nowrap; */
    text-align: center;
    margin: 0;
}