.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.profile-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.profile-container-red {
    background: red;
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 16px;
    flex-direction: column;
}

.profile-name {
    color: white;
    background: none;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}

.profile-level {
    color: white;
    font-size: 14px;
    background: none;
    text-align: left;
    margin: 0;
}

.profile-personal-data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
}

.profile-personal-data-title {
    font-size: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
}

.profile-sign-out-button {
    width: calc(100% - 40px);
    min-height: 50px;
    border-radius: 10px;
    border: 1px red solid !important;
    color: red;
    background: white;
    font-size: 16px;
}

.profile-menu-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    width: 100%;
    gap: 20px;
    grid-auto-rows: minmax(auto, auto);
    padding: 20px;
}

.profile-menu-container-2 {
    display: flex;
    flex-direction: row;
    background: burlywood;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    box-shadow: 0px 0px 2px 1px gray;
}

.profile-menu-icon {
    font-size: 20px;
    color: black;
    margin: 0;
}

.profile-menu-name {
    color: black;
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
    text-align: left;
}

.profile-personal-data-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-personal-up-icon {
    font-size: 20px;
    color: black;
    margin: 0;
}

.profile-personal-data-container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.profile-line-2 {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    margin-top: 10px;
}

.profile-button-container {
    margin: 20px;
    justify-content: center;
    align-items: center;
}