.schedule-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.schedule-row-day {
    width: 20%;
    margin: 0;
    text-align: left;
}

.schedule-row-input-container .gg-date-picker-container {
    margin-left: 5px;
    margin-right: 5px;
}