.fillDataMerchantContainer {
    position: absolute;
    width: 100%;
    align-items: center;
    height: calc(100% - 150px);
    overflow-y: scroll;
}

.fillDataMerchantButtonContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.fillDataMerchantButtonContainer2 {
    width: calc(100% - 40px);

}