.reservation-merchant-row-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 3px 0px #888888;
    padding: 20px;
    margin-top: 10px;
}

.reservation-merchant-row-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-merchant-row-container-3 {
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.reservation-merchant-row-name {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-align: left;
    color: black;
}

.reservation-merchant-row-phone {
    width: 100%;
    font-size: 12px;
    color: #888888;
    margin: 0;
    text-align: left;
}

.reservation-merchant-row-icon {
    font-size: 16px;
    color: black;
}

.reservation-merchant-row-line {
    border-bottom: 0.1px solid gray;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px 2px 0 0;
}

.reservation-merchant-row-time {
    color: red;
    width: 100%;
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.reservation-merchant-row-time-disable {
    color: gray;
    width: 100%;
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.reservation-merchant-row-number {
    color: red;
    width: fit-content;
    white-space: nowrap;
    font-size: 14px;
    margin: 0;
    text-align: right;
}

.reservation-merchant-row-number-disable {
    color: gray;
    width: fit-content;
    white-space: nowrap;
    font-size: 14px;
    margin: 0;
    text-align: right;
}