.user-card-container {
    border-radius: 10px;
    background-color: red;
    width: calc(100% - 32px);
    height: fit-content;
    padding: 20px 16px;
}

.user-card-icon {
    font-size: 100px;
    color: white;
}

.user-card-name {
    color: white;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-top: 15px;
}

.user-card-phone {
    color: white;
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin: 0;
}