.parent {
    background: black;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
}

.fillSpaceContainer {
    width: calc(100% - 40px);
    background: none; 
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.separator20px {
    width: 100%;
    height: 20px;
}