.nextButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80px !important;
    max-width: 80px !important;
    min-width: 80px;
    height: 50px;
    cursor: pointer;
}

.nextButtonText {
    color: orange;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-right: 5px;
}

.nextButtonIcon {
    background: none;
    color: orange;
}

.nextButtonTextNotActive {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-right: 5px;
}

.nextButtonIconNotActive {
    background: none;
    color: gray;
}