.homeContainer {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background: white;
}

.home-merchant-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background: white;
    -webkit-appearance: none;
} 

.BrainhubCarousel__container {
    overflow: visible;
}

.BrainhubCarousel {
    margin-top: 0px;
}

.homePromoCorousel {
    width: 100%;
    height: 50vw;
    min-height: 40vw;
    background: #6d6d6d;
    align-items: center;
    justify-content: center;
    display: flex;
}

.homePromoCorousel2 {
    width: 80%;
    height: 40vw;
    min-height: 40vw;
    background: #6d6d6d;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.homeCorouselContainer {
    position: relative;
    width: 100%;
}

.homeDot {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
}

.homePromo {
    color: white;
    width: fit-content;
    font-weight: 600;
    font-size: 18px;
    background: none;
}

.ant-carousel .slick-dots-bottom {
    display: flex !important;
    flex-direction: row !important;
    justify-content: right !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.ant-carousel .slick-dots {
    background: none;
}

.homeCorouselItem {
    height: 50vw;
    width: 100%;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}

.homeTabContainer {
    margin-top: 70px;
}

.homeTabPaneContainer {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    position: absolute;
    overflow-y: scroll;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.ant-tabs.home-merchant-tab {
    margin-top: 70px !important;
    background: white;
}

.ant-tabs.home-merchant-tab-2 {
    margin-top: 70px !important;
    background: white;
}

.ant-tabs-nav-list {
    width: 100% !important;
}

.ant-tabs-tab {
    width: 100% !important;
}

.ant-tabs-tab-btn {
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: red !important;
}

.ant-tabs-ink-bar {
    background: red !important;
}

.home-merchant-tab .ant-tabs-content-holder {
    margin-top: 50px !important;
    height: calc(100% - 120px) !important;
    width: 100%;
    position: absolute;
}

.home-merchant-tab-2 .ant-tabs-content-holder {
    margin-top: 50px !important;
    height: calc(100% - 120px) !important;
    width: 100%;
    position: absolute;
}

.buy-package-stock-label {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 0;
    font-weight: bold;
}

.ant-tabs.package-merchandise-merchant-tab {
    margin-top: 0px !important;
    background: white;
}