.time-number-container {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
}

.time-number-time {
    width: 100%;
    margin: 0;
    font-size: 16px;
    text-align: left;
    color: red;
}

.time-number-number {
    font-size: 16px;
    color: red;
    white-space: nowrap;
    margin: 0;
}

.time-number-time-disable {
    width: 100%;
    margin: 0;
    font-size: 16px;
    text-align: left;
    color: gray;
}

.time-number-number-disable {
    font-size: 16px;
    color: gray;
    white-space: nowrap;
    margin: 0;
}