.ant-modal-close {
    visibility: hidden;
}

.ant-modal-header {
    text-align: center;
}

.ant-modal-title {
    font-size: 20px;
}

.gender-modal-button-separator {
    width: 10%;
    height: 50px;
}

.gender-modal-footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.gender-modal-option-container {
    display: flex;
    flex-direction: column;
}

.gender-modal-option {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    position: relative;
}

.gender-modal-option-text {
    margin: 0;
    width: 100%;
    color: gray;
    font-size: 16px;
    background: none !important;
}

.gender-modal-line {
    border-bottom: 0.1px solid #f0f0f0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px 2px 0 0;
}

.ant-modal-body {
    padding: 0;
}

.ant-modal-footer {
    margin-top: 80px;
}

.ant-radio-wrapper .gender-modal-option-text {
    background: none !important;
}

.ant-radio {
    background: none;
}

span.ant-radio + * {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    background: none;
}