.home-article-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    width: 100%;
    margin-top: 0;
}

.home-article-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.home-article-title {
    color: gray;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.home-article-more {
    color: #ECD898;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}

.home-article-content-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.home-article-item-container {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.home-article-item-thumbnail {
    width: 80px !important;
    height: 80px !important;
    border-radius: 8px;
    background: cornflowerblue;
    object-fit: cover;
}

.home-article-item-content-container {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.home-article-item-title {
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin: 0;
    margin-bottom: 2px;
    text-align: left;
}

.home-article-item-text {
    font-size: 12px;
    color: gray;
    margin: 0;
    margin-top: 2px;
    text-align: left;
}

.home-article-item-text p {
    font-size: 12px;
    color: gray;
    margin: 0;
    margin-top: 2px;
    text-align: left;
}

.home-article-item-date {
    font-size: 12px;
    color: gray;
    margin: 0;
    margin-top: 2px;
    text-align: right;
    font-style: italic;
}