.article-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}

.article-detail-container-2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.article-detail-image {
    width: 100%;
    height: fit-content;
    height: 230px;
    min-height: 230px;
}

.article-detail-back {
    background: white;
    position: fixed;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    box-shadow: 0px 0px 4px 0.5px #00000022;
}

.article-detail-title {
    color: black;
    font-size: 18px;
    width: calc(100% - 40px);
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.article-detail-date {
    color: gray;
    width: calc(100% - 40px);
    font-size: 14px;
    text-align: left;
    margin: 0;
    margin-top: 5px;
}

.article-detail-content {
    color: black;
    margin-top: 5px;
    text-align: left;
    width: calc(100% - 40px);
    font-size: 14px;
}

.article-detail-content p {
    color: black;
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
}