.fillData2Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.fillData2ButtonContainer {
    width: calc(100% - 40px);
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fillData2ButtonSeparator {
    width: 20px;
    height: 50px;
}

.fillData2Button {
    width: 100%;
}