.agreementContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    background-image: url('../../assets/dot_background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agreementTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.agreementTitle {
    font-size: 48px;
    color: white;
    width: fit-content;
}

.agreementTitleBold {
    font-size: 48px;
    font-weight: bold;
    color: white;
    width: fit-content;
    font-style: normal;
}

.agreementModalContainer {
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agreementInfo {
    font-style: italic;
    color: gray;
    font-size: 13px;
    width: 320px;
}

.agreementInfo2 {
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 38ch;
}

.agreementInfo3 {
    font-size: 12px;
    color: gray;
    text-align: left;
    width: 100%;
    margin-left: 10px;
}

.agreementInfoCheckBox {
    display: flex;
    margin-bottom: 20px;
}

.agreementCheckBox[type="checkbox"] {
    height: 25px;
    width: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: 2px solid white;
    box-shadow: none;
    background: none;
    border: 1px gray solid;
    border-radius: 5px;
    
}

.agreementCheckBox[type="checkbox"]:checked {
    background: url(../../assets/checked.png);
    background-color: #D4AF37;
    background-repeat: no-repeat;
    background-size: 18px;
    object-fit: fill;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.agreementLogo {
    width: 50%;
    height: 52.5px;
    color: #FBC563;
    background-image: url('../../assets/home_logo_gold.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index: 10;
}