.resetPasswordContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.resetPasswordContainer2 {
    width: 100%;
    height: calc(100% - 290px);
    position: absolute;
    margin-top: 50px;
}

.resetPasswordSeparator {
    width: 100%;
    margin-top: 20px;
}

.resetPasswordSpace {
    width: 100%;
    height: 100%;
}

.resetPasswordButtonContainer {
    margin-left: 20px;
    margin-right: 20px;
}