.point-community-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.point-community-title {
    color: black;
    font-size: 24px;
    margin: 0;
}

.point-community-point {
    margin: 0;
    color: red;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.point-community-desc {
    margin: 0;
    width: 33ch;
    text-align: center;
    font-size: 16px;
    color: gray;
}