.ant-tabs {
    margin-top: 0px !important;
}

.ant-tabs-nav-list {
    width: 100% !important;
}

.ant-tabs-tab {
    width: 100% !important;
}

.ant-tabs-tab-btn {
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: red !important;
}

.ant-tabs-ink-bar {
    background: red !important;
}

.point-loyalty-history-item-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}

.ant-tabs-content-holder {
    margin-top: 45px;
    height: calc(100% - 100px) !important;
    width: 100%;
    position: absolute;
}