.registerContainer {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
}

.registerContentContainer {
    width: 100%;
    /* height: calc(100% - 225px); */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-image: url("../../assets/dot_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: relative;
    margin-top: 4px;
    background: white;
}

.registerSeparator {
    width: 100%;
    margin-top: 20px;
}

.registerOptionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerOptionContainer22 {
    display: flex;
    width: calc(100% - 40px);
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
}

.registerSelectedProduct {
    width: calc(100% - 40px);
    text-align: left;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #C5C5C544;
}

.registerOptionContainer2 {
    display: flex;
    width: calc(100% - 40px);
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    border-radius: 4px;
    align-items: center;
}

.registerOptionContainer3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.registerOptionIcon {
    background: none;
}

.registerOptionLabel {
    color: black;
    font-size: 12px;
    text-align: left;
    margin: 0;
}

.registerOptionValue {
    color: gray;
    font-size: 12px;
    text-align: left;
    margin: 0;
}

.registerBottomContainer {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    /* height: 170px; */
    padding-bottom: 20px;
    box-shadow: 0px 0px 4px #00000022;
}

.registerNavigationContiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerNavigationText {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.registerAgreementContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.registerAgreementText {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin: 0;
    margin-left: 10px;
}

.registerAgreementLink {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}