.term-agreement-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.term-agreement-container p {
    text-align: left;
    margin: 0;
    font-size: 14px;
    margin-top: 10px;
}

.term-agreement-container .term-agreement-title {
    margin: 0;
    text-align: center;
    font-size: 20px;
    width: 100%;   
}

.term-agreement-paragrapf {
    text-align: justify !important;
    margin: 0;
}