.successVerificationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successVerificationIcon {
    width: 120px;
    height: 120px;
    font-weight: bold;
    background: none;
    color: green;
}

.successVerificationContact {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}

.successVerificationLabel {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}