.promo-use-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: red;
    padding: 20px;
}

.promo-use-label {
    width: 100%;
    background: none;
    color: white;
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.promo-use-name {
    width: 100%;
    margin: 0;
    text-align: left;
    color: white;
    background: none;
    font-size: 18px;
    font-weight: bold;
}