.reservation-confirmation-bottom-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-confirmation-bottom-cancel-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    cursor: pointer;
}

.reservation-confirmation-bottom-cancel {
    color: red;
    margin: 0;
    font-size: 30px;
}

.reservation-confirmation-bottom-accept-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    cursor: pointer;
}

.reservation-confirmation-bottom-accept {
    color: green;
    margin: 0;
    font-size: 20px;
}

.reservation-confirmation-bottom-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-confirmation-bottom-cancel-label {
    margin: 0;
    color: red;
    font-size: 14px;
    width: fit-content;
    height: fit-content;
}

.reservation-confirmation-bottom-accept-label {
    margin: 0;
    color: green;
    font-size: 14px;
    width: fit-content;
    height: fit-content;
}