.reservation-confirmation-label {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}

.reservation-confirmation-date {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.reservation-confirmation-number {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: black;
    font-weight: bold;
}