.forgotPasswordContainer {
    width: 100%;
    height: 100%;
    background: white;
    align-items: center;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.forgotPasswordLabel {
    color: gray;
    font-size: 14px;
    width: 34ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

.forgotPasswordRemainingSpace {
    width: 100%;
    height: calc(100% - 310px);
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.forgotPasswordSeparator {
    width: 100%;
    margin-top: 20px;
}