.transaction-confirmation-category-container {
    width: fit-content;
    padding: 5px 10px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-confirmation-icon {
    color: white;
    font-size: 14px;
    margin: 0;
}

.transaction-confirmation-category-label {
    color: white;
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
}

.transaction-confirmation-package-label {
    color: black;
    margin: 0;
    font-size: 20px;
    margin-top: 10px;
}

.transaction-confirmation-number-label {
    color: gray;
    margin: 0;
    font-size: 14px;
}

.transaction-confirmation-point-label {
    color: #00ff55;
    margin: 0;
    font-size: 16px;
}