.buy-package-menu-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    padding-left: 20px;
    padding-right: 10px;
}

.buy-package-menu-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.buy-package-menu-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.buy-package-menu-item-container {
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
}

.buy-package-menu-item-container-2 {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 1px solid gray;
    background-color: white;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
}

.buy-package-menu-item-selected-container-2 {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 1px solid gray;
    background-color: red;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
}

.buy-package-menu-item-icon {
    color: gray;
    background: none;
    margin-right: 5px;
}

.buy-package-menu-item-selected-icon {
    color: white;
    background: none;
    margin-right: 5px;
}

.buy-package-menu-item-category {
    margin: 0;
}

.buy-package-menu-item-selected-category {
    margin: 0;
    color: white;
}