.gallery-venue-container {
    width: 100%;
    height: 100%;
}

.gallery-venue-container-2 {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
    grid-auto-rows: minmax(40vw, auto);
    padding: 20px;
}

.gallery-venue-add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background: red;
    border-radius: 50%;
    color: white;
    padding: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 4px #00000022;
}