.change-point-container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.change-point-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.change-point-location-container {
    width: 100%;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.change-point-location-name {
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.change-point-location-address {
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: white;
    text-align: left;
}

.change-point {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 0;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

.change-point-selected-container {
    width: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.change-point-selected-name {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 18px;
}

.change-point-selected {
    font-size: 18px;
    color: red;
    text-align: left;
    margin: 0;
    white-space: nowrap;
}

.change-point-item-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px;
}

.change-point-item-container-2 {
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000022;
    padding-bottom: 10px;
    cursor: pointer;
}

.change-point-item-image {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    border-radius: 10px;
}

.change-point-item-name {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.change-point-item-point {
    width: 100%;
    text-align: left;
    margin: 0;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.change-point-item-stock {
    width: 100%;
    text-align: right;
    margin: 0;
    color: gray;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}



.change-point-button-container {
    width: 100%;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.change-point-button-separator {
    width: 40px;
    height: 20px;
}

.change-point-item-selected {
    background: red;
    opacity: 0.8;
    width: 100%;
    height: calc(100% - 76px);
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
    color: white;
}

.change-point-button-link {
    width: 100%;
}