.merchant-menu-container {
    width: 100%;
    height: 100px;
    display: flex;
    background: white;
    box-shadow: 0px 0px 3px 0px #888888;
}

.merchant-menu-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merchant-menu-item-label {
    margin: 0;
    color: black;
}

.merchant-menu-item-icon {
    background: none;
    border-radius: 50%;
    font-size: 24px;
    color: black;
}

.merchant-menu-item-icon-container {
    background: burlywood;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}