.reservation-reject-modal-text-area-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-reject-modal-text-area {
    background: none;
    width: 100%;
    border: none;
    height: 100px;
    margin-top: 10px;
}