.change-point-confirmation-image {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: contain;
}

.change-point-confirmation-image-2 {
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: contain;
}

.change-point-confirmation-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.change-point-confirmation-name-label {
    color: black;
    margin: 0;
    font-size: 20px;
}

.change-point-confirmation-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.change-point-confirmation-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.change-point-confirmation-item-container-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.change-point-confirmation-expire-label {
    width: 100%;
    text-align: center;
    color: black;
    padding-right: 20%;
}

.change-point-confirmation-expire {
    width: 100%;
    font-size: 28px;
    padding-right: 20%;
    text-align: center;
    font-style: bold;
    color: red;
}