.gallery-venue-row-container {
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000022;
    cursor: pointer;
}

.gallery-venue-row-image {
    width: 100%;
    height: 100%;
    max-height: 50vw;
    border-radius: 10px;
    background: blue;
    object-fit: cover;
}

.gallery-venue-row-close {
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0px 0px 4px #00000022;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    color: red;
    padding: 2px;
}

.ant-btn span {
    background: none;
}