.home-merchant-menu-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.home-merchant-menu-title {
    color: gray;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    width: fit-content;
    margin: 0;
}

.home-merchant-menu-content-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.home-merchant-menu-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    background: #ECD898;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #bfafb2;
}

.home-merchant-menu-item-separator {
    width: 20px;
    height: 30px;
}

.home-merchant-menu-text {
    width: fit-content;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    color: black;
}

.home-merchant-menu-icon {
    color: black;
    font-size: 20px;
    background: none;
}

@media screen and (max-width: 340px) {
    .home-merchant-menu-text {
        width: fit-content;
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
    }
    
    .home-merchant-menu-icon {
        color: black;
        font-size: 14px;
        background: none;
    }   
}