.ant-modal-close {
    visibility: hidden;
}

.ant-modal-header {
    text-align: center;
}

.ant-modal-title {
    font-size: 20px;
}

.select-product-modal-button-separator {
    width: 10%;
    height: 50px;
}

.select-product-modal-footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.select-product-modal-option-container {
    display: flex;
    flex-direction: column;
}

.select-product-modal-option {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    position: relative;
}

.select-product-modal-option-text {
    margin: 0;
    margin-left: 10px;
    width: 100%;
    color: gray;
    font-size: 16px;
    padding-bottom: 3px;
}

.select-product-modal-line {
    border-bottom: 0.1px solid #f0f0f0;
    width: 100%;
    margin-top: 10px;
    border-radius: 2px 2px 0 0;
}

.ant-modal-body {
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
}

.ant-modal-footer {
    margin-top: 10px;
}

.select-product-modal-radio[type=radio] {
    border: 0px;
    height: 1.5em;
    width: 1.5em;
}

.select-product-modal-checkbox[type=checkbox] {
    border: 0px;
    height: 1.5em;
    width: 1.5em;
}

span.ant-radio + * {
    padding: 0;
    margin: 0;
    background: none;
    margin-left: 10px;
    width: 100%;
    color: gray;
    font-size: 16px;
    padding-bottom: 3px;
}

.ant-radio-wrapper {
    width: 100%;
    background: none;
}

.ant-checkbox-wrapper {
    width: 100%;
    background: none;
}

.ant-checkbox + span {
    padding: 0;
    margin: 0;
    background: none;
    margin-left: 10px;
    width: 100%;
    color: gray;
    font-size: 16px;
    padding-bottom: 3px;
}