.schedule-container-2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 50px);
    position: absolute;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.schedule-container-edit {
    width: 100%;
    height: 50px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}