.horizontal-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.horizontal-list-title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.horizontal-list-container-2 {
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 20px;
}

.horizontal-list-container-3 {
    margin-top: 10px;
    width: fit-content;
    white-space: nowrap;
    display: flex;
}

.horizontal-list-item-container {
    width: 100px;
    height: 100px;
    background: red;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    *display: inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    border-radius: 10px;
    vertical-align: top;
}

.horizontal-list-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.horizontal-list-see-more {
    font-size: 16px;
    text-align: left;
    margin: 0;
    color: #ECD898;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.horizontal-list-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000022;
}