.video-all-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    background: white;
    padding-bottom: 20px;
}

.video-all-item {
    width: 100%;
    height: 50vw;
    background: indigo;
    margin-right: 20px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    border-radius: 5px;
    vertical-align:top;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-all-item-2 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.video-all-item-play {
    font-size: 50px;
    color: white;
    position: absolute;
}