.reservation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.reservation-container-2 {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.reservation-serparator {
    margin-top: 20px;
}

.reservation-location-container {
    width: 100%;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.reservation-location-name {
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.reservation-location-address {
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: white;
    text-align: left;
}

.reservation-data-container {
    width: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reservation-data-name {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 18px;
}

.reservation-data {
    font-size: 18px;
    margin: 0;
    white-space: nowrap;
}

.reservation-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
}