.gg-date-picker-container {
    background: #C5C5C544;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 4px;
}

.gg-date-picker-label {
    margin: 0;
    text-align: left;
    font-size: 12px;
}

.ant-picker {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 2px;
}

.anticon svg {
    background: transparent;
    color: white;
}

.ant-picker-body .ant-picker-content th {
    background: none;
    background-color: white;
}

.ant-picker-body .ant-picker-content td {
    background: none;
    background-color: white;
}