* {
    background: black;
}

.verificationContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.verificationLabel {
    color: white;
    font-size: 14px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.verificationContact {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}