.categoryItemContainer {
    width: calc(100% - 40px);
    height: calc(100% - 180px);
    display: flex;
    position: absolute;
    margin-top: 20px;
    flex-direction: column;
    border-radius: 8px;
    background-color: #242424;
}

.categoryItemContainer2 {
    padding: 16px;
    background: none;
    overflow-y: scroll;
}

.categoryItemTitleLabel {
    color: #858585;
    font-size: 18px;
    font-weight: 600;
    background: none;
    margin: 16px;
    width: fit-content;
}

.categoryItemLine {
    background: #858585;
    height: 1px;
    width: 100%;
}

.categoryItemCheckBoxLine {
    background: #858585;
    height: 1px;
    margin-bottom: 16px;
    width: 100%;
}

.categoryItemCheckBoxContainer {
    background: none;
    display: flex;
    flex-direction: column;
}

.categoryItemCheckBoxContainer2 {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
}

.categoryItemCheckBoxLabel {
    background: none;
    color: #858585;
    margin-right: 26px;
    text-align: left;
}

.categoryItemCheckBox[type="checkbox"] {
    right: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: 2px solid white;
    box-shadow: none;
    font-size: 2em;
}

.categoryItemCheckBox[type="checkbox"]:checked {
    background: url(../../assets/checked.png);
    background-color: #D4AF37;
    background-repeat: no-repeat;
    background-size: 20px;
}