.merchant-history-row-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.merchant-history-row-container-2 {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.merchant-history-row-container-3 {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.merchant-history-row-container-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.merchant-history-row-name {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: black;
    width: 100%;
    margin: 0;
}

.merchant-history-row-address {
    text-align:  left;
    font-size: 11.5px;
    color: black;
    width: 100%;
    margin: 0;
}

.merchant-history-row-description {
    text-align:  left;
    font-size: 11.5px;
    color: red;
    width: 100%;
    margin: 0;
}

.merchant-history-row-point {
    text-align: left;
    font-size: 18px;
    width: 100%;
    color: red;
    margin: 0;
}

.merchant-history-row-point-disable {
    text-align: left;
    font-size: 18px;
    color: gray;
    margin: 0;
}

.merchant-history-row-icon {
    font-size: 16px;
    color: black;
}

.merchant-history-row-line {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.merchant-history-row-date {
    white-space: nowrap;
    font-size: 12px;
    color: black;
    margin: 0;
}

.merchant-history-row-name-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}