.navHomeContainer {
    background: red;
    height: 70px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.navHomeLocationContainer {
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navHomeTitle {
    color: white;
    font-size: 24px;
    margin: 0;
    background: none;
}

.navHomeTitleBold {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: none;
    font-style: normal;
}

.navHomeIcon {
    font-size: 16px;
    color: white;
    background: none;
    position: relative;
}

.navHomeNotification {
    width: 10px;
    height: 10px;
    background: #FBC563;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    top: -2px;
    right: -6px;
}

.navHomeLogo {
    width: 50%;
    height: 42px;
    color: #FBC563;
    background-image: url('../../assets/home_logo_gold.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    z-index: 10;
}