.restaurant-list-container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.restaurant-list-location-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: red;
}

.restaurant-list-location-label {
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: left;
    margin: 0;
}

.restaurant-list-location {
    color: white;
    width: 15ch;
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant-list-location-icon {
    background: none;
    font-size: 16px;
    color: white;
}

.restaurant-list-location-icon-2 {
    background: none;
    color: white;
    font-size: 16px;
}

.restaurant-list-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 20px;
}

.restaurant-list-pagination-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.restaurant-list-pagination-container .ant-pagination-prev .ant-pagination-item-link .anticon svg, .restaurant-list-pagination-container .ant-pagination-next .ant-pagination-item-link .anticon svg{
    color: black;
}

.restaurant-list-pagination-container .ant-pagination-prev .ant-pagination-item-link .anticon, .restaurant-list-pagination-container .ant-pagination-next .ant-pagination-item-link .anticon {
    background: none;
}