.rowLoyaltyPointsContainer {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}
.rowLoyaltyPointsContainer2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: none;
    align-items: center;
    background: none;
    margin-top: 20px;
}

.rowLoyaltyPointsContainer3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: none;
}

.rowLoyaltyPointsLabel {
    color: white;
    background: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.rowLoyaltyPointsValue {
    color: white;
    background: none;
    text-align: left;
    font-size: 12px;
}

.rowLoyaltyPointsPoints {
    color: white;
    background: none;
    text-align: left;
    font-size: 20px;
}

.rowLoyaltyPointsIcon {
    height: 20px;
    width: 20px;
    color: white;
    background: none;
}

.rowLoyaltyPointsLine {
    width: 100%;
    height: 0.1px;
    background: white;
    margin-top: 20px;
    margin-bottom: 1px;
}