.buy-package-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.buy-package-container-menu {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buy-package-container-2 {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.buy-package-location-container {
    width: 100%;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.buy-package-location-name {
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.buy-package-location-address {
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: white;
    text-align: left;
}

.buy-package-point-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.buy-package-point-container-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buy-package-point-label {
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.buy-package-point {
    width: 100%;
    font-size: 18px;
    color: #009900;
    text-align: left;
    margin: 0;
}

.buy-package-line {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.buy-package-button-container {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.buy-package-point-selected-container {
    width: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buy-package-point-selected-container-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
}

.buy-package-point-selected-name {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 18px;
}

.buy-package-point-selected-number {
    width: 100%;
    text-align: left;
    margin: 0;
    color: gray;
    font-size: 12px;
}

.buy-package-point-selected {
    font-size: 18px;
    color: #009900;
    text-align: left;
    margin: 0;
    white-space: nowrap;
}

.buy-package-bottom-sheet-label {
    margin: 0;
    font-style: italic;
    color: gray;
    font-size: 14px;
}

.buy-package-bottom-sheet-icon {
    font-size: 30px;
    margin: 0;
}

.buy-package-bottom-sheet-value {
    font-size: 20px;
    color: black;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.buy-package-label {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}