.previousButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80px !important;
    max-width: 80px !important;
    min-width: 80px;
    height: 50px;
    cursor: pointer;
}

.previousButtonText {
    color: orange;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.previousButtonIcon {
    background: none;
    color: orange;
    margin-right: 5px;
}

.previousButtonTextNotActive {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.previousButtonIconNotActive {
    background: none;
    color: gray;
    margin-right: 5px;
}