.notification-row {
    position: relative;
    width: 100%;
    height: fit-content;
}

.notification-row-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.notification-row-container-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.notification-row-icon-container {
    background: red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-row-icon {
    background: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
    color: white;
}

.notification-row-content-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    justify-content: left;
    align-items: flex-start;
    margin-left: 20px;
}

.notification-row-title {
    margin: 0;
    font-size: 16px;
    color: black;
    text-align: left;
    margin: 0;
}

.notification-row-message {
    margin: 0;
    font-size: 14px;
    text-align: left;
    color: black;
}

.notification-row-time {
    margin: 0;
    margin-top: 10px;
    color: black;
}

.notification-row-read {
    color: blue;
    position: absolute;
    bottom: 0px;
    right: 20px;
}