.store-list-item-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000022;
    margin-top: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background: white;
}

.store-list-item-container-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.store-list-item-container-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.store-list-item-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    color: black;
}

.store-list-item-address {
    margin: 0;
    font-size: 12px;
    text-align: left;
    width: 100%;
    color: black;
}

.store-list-item-distance {
    margin: 0;
    font-size: 14px;
    color: red;
    text-align: left;
    width: 100%;
}

.store-list-item-icon {
    background: none;
    color: black;
}

.store-list-item-line {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.store-list-item-image-container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    column-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
}

.store-list-item-image {
    width: 100%;
    height: 20vw;
    background: red;
    border-radius: 10px;
    object-fit: cover;
}