.registerLabel {
    color: white;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    background: none;
}

.registerUserTypeContainer {
    height: 400px;
}