.my-qr-code-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.my-qr-code-container-2 {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-qr-code {
    width: 100px;
    height: 100px;
    background-color: red;
}

.my-qr-code-text {
    color: red;
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}