.merchant-detail-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.merchant-detail-container-2 {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
}

.merchant-detail-point-community-container {
    width: 100%;
    display: flex;
    background: red;
    padding: 20px;
    align-items: center;
}

.merchant-detail-point-community-label {
    color: white;
    width: 100%;
    text-align: left;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.merchant-detail-point-community-icon {
    background: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.merchant-detail-point-community {
    font-size: 18px;
    color: white;
    white-space: nowrap;
    margin: 0;
}

.merchant-detail-map-container {
    width: 100%;
    min-height: 70vw;
    background: turquoise;
}

.merchant-detail-location-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.merchant-detail-location-container-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.merchant-detail-location-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    text-align: left;
}

.merchant-detail-location {
    font-size: 16px;
    margin: 0;
    text-align: left;
}

.merchant-detail-location-distance {
    font-size: 16px;
    margin: 0;
    text-align: left;
    color: red;
}

.merchant-detail-location-icon {
    background: none;
    font-size: 30px;
    color: gray;
}

.merchant-detail-line {
    width: calc(100% - 40px);
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.merchant-detail-point-container {
    width: 100%;
    padding: 20px;
    display: flex;
}

.merchant-detail-point-label {
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.merchant-detail-point {
    font-size: 20px;
    color: red;
    white-space: nowrap;
    margin: 0;
}

.merchant-detail-info-container {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}

.merchant-detail-info-label {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin: 0;
}

.merchant-detail-info-container-2 {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.merchant-detail-info-label-2 {
    width: 100px;
    margin: 0;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}

.merchant-detail-info-operation-time-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.merchant-detail-info {
    width: 100%;
    text-align: left;
    margin: 0;
}

.merchant-detail-preview-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    z-index: 10;
    align-items: center;
}

.merchant-detail-preview-image {
    width: 100%;
    height: fit-content;
}

.merchant-detail-image-preview-close {
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0px 0px 4px #00000022;
    border-radius: 50%;
    position: absolute;
    color: red;
    padding: 2px;
    right: 20px;
    top: 20px;
}

.merchant-detail-banner {
    background-image: url('../../assets/detail_merchant_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 80%;
}