.promo-row-container {
    background: red;
    border-radius: 10px;
    height: 230px;
    min-height: 230px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    margin-top: 20px;
    position: relative;
}

.promo-row-pending-container {
    background: #000033;
    border-radius: 10px;
    height: 230px;
    min-height: 230px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    margin-top: 20px;
    position: relative;
}

.promo-row-title {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0;
    text-align: left;
    width: 100%;
    z-index: 10;
}

.promo-row-time {
    font-size: 12px;
    color: white;
    margin: 0;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    z-index: 10;
}

.promo-row-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.promo-row-image-transparent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.5;
    background: black;
    z-index: 5;
}