.inbox-row-container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inbox-row-package-name {
    width: 100%;
    margin: 0;
    text-align: left;
    color: black;
    font-size: 14px;
}

.inbox-row-pakcage-point {
    width: 100%;
    text-align: left;
    margin: 0;
    color: #00ff55;
    font-size: 18px;
}

.inbox-row-change-point-name {
    width: 100%;
    margin: 0;
    text-align: left;
    color: black;
    font-size: 18px;
}