.home-video-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 0;
}

.home-video-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.home-video-title {
    color: gray;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.home-video-more {
    color: #ECD898;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}

.home-video-content-container {
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    padding-left: 20px;
}

.home-video-item-container {
    width: 200px;
    height: 120px;
    background: indigo;
    margin-right: 20px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    border-radius: 5px;
    vertical-align:top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-video-item-container-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.home-video-item-play {
    font-size: 50px;
    color: white;
    position: absolute;
}