.faq-row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.faq-row-container-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-row-text {
    color: black;
    width: calc(100% - 25px);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    font-weight: 600;
    text-align: left;
    font-size: 16px;
}

.faq-row-dot {
    width: 5px;
    height: 5px;
    background: black;
    color: black;
    border-radius: 50%;
    margin: 0;
}

.faq-row-icon {
    color: black;
    font-size: 20px;
    margin: 0;
}

.faq-row-answer {
    text-align: left;
    padding-bottom: 20px;
    margin: 0;
}

.faq-row-answer-hide {
    display: none;
}

.faq-line {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
  }