* {
  margin: 0;
  background: none;
}

div {
  background: none;
}

p {
  background: none;
}

a {
  background: none;
}

svg {
  background: none;
}

span {
  background: white;
}

table {
  background: none;
}

td {
  background: none;
}

tr {
  background: none;
}

img  {
  background: none;
}

ul {
  background: none;
}

.App {
  text-align: center;
  /* background-color: black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gg-parent-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.gg-content-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  overflow-y: scroll;
  padding-top: 20px;
}

.gg-content-no-top-padding-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  overflow-y: scroll;
}

.gg-content-scroll-container {
  width: 100%;
  height: calc(100% - 150px);
  position: absolute;
  overflow-y: scroll;
  background: white;
  margin: 0 auto;
  text-align: center;
}

.gg-content-with-bottom-container {
  width: 100%;
  height: calc(100% - 150px);
  position: absolute;
  top: 50px;
  overflow-y: scroll;
}

.gg-bottom-container {
  width: 100%;
  height: 100px;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  box-shadow: 0px 0px 4px 0.5px #00000022;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.gg-bottom-sheet-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  bottom: 0;
  background: white;
  border-radius: 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
  box-shadow: 0px 0px 4px 0.5px #00000022;
}

.gg-bottom-sheet-container-hide {
  display: none;
}

.gg-bottom-sheet-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.gg-bottom-sheet-header-label {
  margin: 0;
  font-size: 18px;
  color: gray;
  width: 100%;
}

.gg-bottom-sheet-header-close-icon {
  font-size: 20px;
}

.gg-line {
  width: 100%;
  margin-top: 10px;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.gg-bottom-sheet-footer {
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.gg-bottom-sheet-footer-separator {
  width: 20px;
  height: 20px;
}

.gg-bottom-sheet-content {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gg-bottom-sheet-content-vertical {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gg-tab-content-container {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  position: absolute;
  overflow-y: scroll;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.gg-floating-add-button {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 15px;
  background: gold;
  box-shadow: 0px 0px 4px 0.5px #00000022;
  z-index: 10;
}

.gg-content-empty-container {
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gg-empty-text {
  color: gray;
  font-size: 16px;
  width: calc(100% - 40px);
  font-weight: bold;
  margin: 0;
}

.gg-empty-sub-text {
  color: gray;
  font-size: 14px;
  width: calc(100% - 40px);
  margin: 0;
}

.anticon {
  background: black;
}

.gg-separator {
  width: 100%;
  height: 20px;
}

.gg-fix-bottom-container-vertical {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.gg-fix-bottom-container-horizontal {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.gg-fix-product-warning-container {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: black;
  position: fixed;
  bottom: 0;
}

.gg-product-warning-image {
  width: 30%;
  height: 100%;
}

.gg-product-warning-label {
  text-align: center;
  color: white;
  font-size: 8px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.gg-product-warning-image-2 {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  object-fit: cover;
}

.app-content-container {
  width: 100%;
  height: calc(100% - 65px);
  position: absolute;
}