.grocery-store-list-container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.grocery-store-list-location-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: red;
}

.grocery-store-list-location-label {
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: left;
    margin: 0;
}

.grocery-store-list-location {
    color: white;
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grocery-store-list-location-icon {
    background: none;
    font-size: 16px;
    color: white;
}

.grocery-store-list-location-icon-2 {
    background: none;
    color: white;
    font-size: 16px;
}

.grocery-store-list-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 20px;
}