.congratulationContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.congratulationBanner {
    width: 100%;
    height: 300px;
    background: url(../../assets/logo512.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.congratulationTitle {
    color: white;
    background: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.congratulationContent1 {
    margin-top: 20px;
    color: white;
    max-width: 200px;
    background: none;
}

.congratulationContent2 {
    margin-top: 20px;
    color: white;
    max-width: 320px;
    background: none;
}