.navbarDetailContainer {
    background: 'white';
    height: 50px;
    min-height: 50px; 
    padding-left: 20px; 
    padding-left: 20px;
    align-items: center; 
    display: flex;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 4px 0.5px #00000022;
}

.navbarDetailNoShadowContainer {
    background: 'white';
    height: 50px;
    min-height: 50px; 
    padding-left: 20px; 
    padding-left: 20px;
    align-items: center; 
    display: flex;
    position: relative;
    text-align: center;
}

.navbarDetailTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
}

.navbarDetailTitle {
    color: gray; 
    font-size: 20px; 
    left: 0;
    margin: 0;
}

.navbarDetailIcon {
    color: gray; 
    cursor: pointer;
    background: none;
    margin: 0;
}

.navbarDetailIconScan {
    color: white;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background: none;
    margin: 0;
}

.navbarDetailSubTitle {
    font-style: italic;
    font-size: 12px; 
    color: gray;
    margin: 0;
}