.otpContainer {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.otpContentContainer {
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
    margin-top: 4px;
}

.otpInputContainer {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    color: white;
    border-radius: 0px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.otpInput {
    width: 40px !important;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 0px;
    border: none;
    border-bottom: 2px  solid #858585;
    color: black;
    outline: none;
    background: none;
}

.otpInput:focus {
    border-bottom: 2px solid #D4AF37;
}

.otpLabel {
    color: #858585;
    font-size: 14px;
    font-style: italic;
}

.otpButtonContainer {
    width: calc(100% - 40px);
    background: none; 
    height: calc(100% - 160px);
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.otpNotSentLabelContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.otpNotSentLabel {
    color: #858585;
    font-size: 14px;
    font-style: italic;
    width: 100%; 
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.otpNotSentLabel::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: 5px;
    background: gray;
}

.otpNotSentLabel::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: 5px;
    background: gray;
}

.otpPrimaryLabel {
    color: #D4AF37;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.otpSeparator {
    width: 100%;
    height: 20px;
}