.success-layout-change-point-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-layout-change-point-title {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.success-layout-change-point-message {
    width: 43ch;
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

.success-layout-change-point-icon {
    width: 120px;
    height: 120px;
    background: none;
    font-weight: bold;
    color: #009900;
}

.success-layout-change-point-container-2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: none;
    width: calc(100% - 40px);
}

.success-layout-change-point-expired-label {
    color: black;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.success-layout-change-point-expired {
    color: red;
    font-size: 28px;
    width: auto;
    white-space: nowrap;
}