.rowInfoContainer {
    width: 100%;
    display: flex;
    background: none;
    align-items: center;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.rowInfoContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: none;
}

.inputPrimaryContainer2 .rowInfoPasswordContainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.rowInfoGenderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.rowInfoGenderInput {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.rowInfoLabel {
    background: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.rowInfoValue {
    background: none;
    text-align: left;
    font-size: 12px;
    margin: 0;
}

.rowInfoIcon {
    height: 20px;
    width: 20px;
    background: none;
    margin: 0;
}

.rowInfoButton {
    color: white;
    background-color: burlywood;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.rowInfoInputContainer {
    width: 90%;
    height: 30px;
    margin-top: 5px;
    background: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.rowInfoDateContainer {
    border-radius: 10px;
    border: 1px solid gray;
    width: calc(100% - 10px);
    padding: 5px;
}