.otpv2Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
    background-color: white;
    background-image: url("../../assets/dot_background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: absolute; */
}

.otpv2ContentContainer {
    width: 100%;
    height: 100%;
    align-items: center;
}

.otpv2InputContainer {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    color: white;
    border-radius: 0px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.otpv2Input {
    width: 40px !important;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 0px;
    border: none;
    border-bottom: 2px  solid #858585;
    color: black;
    outline: none;
    background: none;
}

.otpv2Input:focus {
    border-bottom: 2px solid #D4AF37;
}

.otpv2Label {
    color: #858585;
    font-size: 14px;
    font-style: italic;
    width: 34ch;
    margin-top: 40px;
}

.otpv2Space {
    width: 100%;
    height: 100%;
    min-height: 100px;
}

.otpv2ButtonContainer {
    width: calc(100% - 40px);
    background: none;
    padding-bottom: 40px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.otpv2NotSentLabelContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.otpv2NotSentLabel {
    color: #858585;
    font-size: 14px;
    font-style: italic;
    width: 100%; 
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.otpv2NotSentLabel::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: 5px;
    background: gray;
}

.otpv2NotSentLabel::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: 5px;
    background: gray;
}

.otpv2PrimaryLabel {
    color: #D4AF37;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.otpv2Separator {
    width: 100%;
    margin-top: 20px;
}

.otpv2Contact {
    font-size: 20px;
    color: #858585;
    font-weight: 600;
    margin-top: 20px;
}