.registerStep1Label {
    font-size: 14px;
    font-style: italic;
    color: gray;
    margin-top: 20px;
}

.registerStep1Required {
    font-size: 14px;
    font-style: italic;
    color: red;
    background: none;
}

.registerStep1ModalTitle {
    font-size: 20px;
    color: gray;
}